<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>wordyLoops</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles.css">
  <script src="lib/angular.min.js"></script>
  <script src="lib/Tone.min.js"></script>
</head>
<body ng-app="chat">
  <h1>wordyLoops</h1>
  <div class="container" ng-controller="ChatCtrl">
    <table id="messages">
      <td class="column" ng-repeat="column in messages">
        <div class="message" ng-repeat="message in column | orderBy:'created_at'">
          <p>{{message.text}}</p>
        </div>
      </td>
    </table>
    <div class="form-bar">
      <form ng-submit="sendMessage(textInput)" name="inputForm" novalidate>
        <input id="m" autocomplete="off" ng-model="textInput" placeholder="What do you have to say for yourself?" required ng-maxlength="120">
        <button type="submit" ng-disabled="inputForm.$invalid">Send</button>
      </form>
      <button ng-click="togglePlay()">{{playOrPause.text}}</button>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="sound/sounds.js"></script>
  <script src="sound/loop.js"></script>
  <script src="services.js"></script>
  <script src="app.js"></script>
</body>
</html>