html {

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Futura', sans-serif;
  font-size: 1.5em;
}

h1 {
  margin: 10px;
}

.container {
}

.form-bar {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

form {
  display: inline;
}

form input {
  padding: 0;
  padding-left: 0.5%;
  border: 0;
  height: 40px;
  font-size: 14px;
  width: 79%;
  margin-left: .5%;
  border-radius: 3px;
}

button {
  background-color: white;
  border-radius: 3px;
  padding: 2px;
  width: 9%;
  height: 40px;
  border: none;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: auto;
  transition: all 0.3s ease;
}

button:hover {
  color: white;
  background-color: lightgray;
  transition: all 0.3s ease;
}

input:focus, button:focus {
  outline: none;
}

.column {
  margin: 0;
  margin-bottom: 60px;
  display: inline-block;
}

.message {
  border-radius: 15px;
  background-color: black;
  width: 180px;
  height: 180px;
  padding: 5px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.message:hover {
  background-color: white;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.message .text {
  display: inline;
}
