html {

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
}

h1 {
  margin: 10px;
  font-weight: 100;
}

.container {
}

.form-bar {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

form {
  display: inline;
}

form input {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  padding-left: 0.5%;
  border: 0;
  height: 40px;
  font-size: 14px;
  width: 79%;
  margin-left: .5%;
  border-radius: 3px;
}

button {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border-radius: 3px;
  padding: 2px;
  width: 9%;
  height: 40px;
  border: none;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: auto;
  transition: all 0.5s ease;
}

button:hover {
  background-color: lightgray;
  transition: all 0.5s ease;
}

input:focus, button:focus {
  outline: none;
}

.column {
  margin: 0;
  margin-bottom: 60px;
  display: inline-block;
}

.message {
  border-radius: 100px;
  background-color: black;
  width: 180px;
  height: 180px;
  padding: 5px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.message p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.7em;
  display: inline;
  width: 80%;
  text-align: center;
  word-wrap: break-word;
  padding: 10px;
  color: black;
  transition: all 1s ease;
}

.message:hover {
  background-color: white;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.5);
}

.message:hover p {
  color: lightgray;
}

